@import url("bootstrap/dist/css/bootstrap.min.css");
:root {
  --primary: #63817c;
  --background: #d1cdcd;
  --secondary: #a0b5a2;
  --trim: #3f3e40;
  --trim-dark: #201f20;
  --text-color: #ffffff;
  --text-color-dark: #363333;
}
main {
  min-height: 90vh;
  background-color: var(--background);
}
.nav-link {
  width: auto;
  color: var(--text-color-dark);
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

.alert-wrapper {
  position: fixed;
  top: 4rem;
  right: 2rem;
  display: inline-block;
  z-index: 3;
}
.page-item.active .page-link {
  background-color: var(--trim-dark);
  border-color: var(--trim);
  color: var(--secondary);
}
.list-group a {
  text-decoration: none;
}
.list-group-item.active {
  background-color: var(--primary);
  border-color: var(--trim-dark);
  color: var(--text-color);
}
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.bold {
  font-weight: bold;
}
.background-txt {
  color: var(--background);
}
.background-bg {
  background-color: var(--background);
}
.primary-bg {
  background-color: var(--primary);
}
.primary-txt {
  color: var(--primary);
}
.text-color-bg {
  background-color: var(--text-color);
}
.text-color-txt {
  color: var(--text-color);
}
.text-color-dark-bg {
  background-color: var(--text-color-dark);
}
.text-color-dark-txt {
  color: var(--text-color-dark);
}

.secondary-bg {
  background-color: var(--secondary);
}
.secondary-txt {
  color: var(--secondary);
}
.trim-dark-bg {
  background-color: var(--trim-dark);
}
.trim-dark-txt {
  color: var(--trim-dark);
}
.trim-bg {
  background-color: var(--trim);
}
.trim-txt {
  color: var(--trim);
}

/* Mobile Responsiveness */
@media (max-width: 780px) {
  /* utility CSS, hides content on sm screens */
  .hide-sm {
    display: none;
  }
}

@media (min-width: 780px) {
  .hide-lg {
    display: none;
  }
}
