.carousel {
  text-align: center;
  background-color: rgb(37, 30, 29);
  min-height: 400px;
  max-height: 400px;
  width: 75%;
  margin: 0 auto;
}
.carousel h2 {
  color: rgb(143, 142, 142);
}
.carousel-image {
  max-height: 400px;
  min-height: 400px;
}
.carousel-product-name {
  font-size: 1.7rem;
  color: var(--secondary) !important;
  text-shadow: 2px 0 0 var(--primary), 0 2px 0 var(--primary),
    -2px 0 0 var(--primary), 0 -2px 0 var(--primary);
}
/* mobile responsiveness */
@media (max-width: 360px) {
  .carousel {
    width: 100%;
  }
}
@media (max-width: 280px) {
  .carousel {
    max-height: 325px;
    min-height: 325px;
    width: 100%;
  }
  .carousel-image {
    max-height: 325px;
    min-height: 325px;
  }
}
