.product-image-container {
  max-height: 600px;
}
.product-image-container img {
  height: 100%;
}
.product-review-container-review {
  overflow: scroll;
  height: 100%;
}
.product-review-container {
  padding: 2.5%;
}

@media (max-width: 1024px) {
  .product-details-container {
    margin: 5% 2.5%;
    width: 90%;
  }
  .product-image-container {
    text-align: center;
    padding: 3%;
  }
}
